{% extends 'layouts/admin-base.html' %}

{% block title %} Orders {% endblock %}


{% block stylesheet %}
<link rel="stylesheet" href="/static/css/user_panel/styles.css">
{% endblock %}

{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div id="fetch-orders-container">
    <a href="{% url 'fetch_shopify_orders' %}" id="fetch-orders-link" class="btn btn-primary">Get Orders from Shopify</a>
</div>

<div class="order-container">
    <h2>Shopify Orders</h2>
    <table id="ordersTable" class="orders-table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Customer</th>
                <th>Total Price</th>
                <th>Created At</th>
                <th>Payment Status</th>
                <th>Fulfillment Status</th>
                <th>Delivery Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.total_price }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.payment_status }}</td>
                    <td>{{ order.fulfillment_status }}</td>
                    <td>{{ order.delivery_status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block js %}

{% endblock %}