{% extends 'layouts/admin-base.html' %}

{% block title %} Sourcing Requests {% endblock %}


{% block stylesheet %}
<link rel="stylesheet" href="/static/css/admin_panel/styles.css">
{% endblock %}

{% block content %}
<div class="container" hidden>
    <div class="tabs">
        <div class="tab" data-tab="pending">Pending</div>
        <div class="tab" data-tab="in_progress">In Progress</div>
        <div class="tab" data-tab="completed">Completed</div>
        <div class="tab" data-tab="rejected">Rejected</div>
    </div>

    <div class="tab-content active" id="pending">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Details</th>
                    <th>Product URL</th>
                    <th>Description</th>
                    <th>Added By</th>
                    <th>created at</th>
                    <th>Status</th>
                    <th>Review</th>
                    <th>Last Updated</th>
                    <th>Updated By</th>
                </tr>
            </thead>
            <tbody>
                {% for req in pending_requests %}
                <tr>
                    <td>{{req.id}}</td>
                    <td>
                        <div class="product-details">
                            {% with req.image as img %}
                                {% if img %}
                                    <img class='product-img' src="{{ img.url }}" alt="{{ req.name }}">
                                {% else %}
                                    No Image
                                {% endif %}
                            {% endwith %}
                            <span>{{ req.name }}</span>
                        </div>
                    </td>
                    <td><a href="{{ req.link }}" target="_blank">View Product</a></td>
                    <td>{{req.description}}</td>
                    <td>{{req.added_by}}</td>
                    <td>{{req.created_at}}</td>
                    <td>{{ req.status }}</td>
                    <td>{{ req.review }}</td>
                    <td>{{req.last_updated}}</td>
                    <td>{{req.updated_by}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10" style="text-align: center;">No Requests Found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tab-content" id="in_progress">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Details</th>
                    <th>Product URL</th>
                    <th>Description</th>
                    <th>Added By</th>
                    <th>created at</th>
                    <th>Status</th>
                    <th>Review</th>
                    <th>Last Updated</th>
                    <th>Updated By</th>
                </tr>
            </thead>
            <tbody>
                {% for req in in_progress_requests %}
                <tr>
                    <td>{{req.id}}</td>
                    <td>
                        <div class="product-details">
                            {% with req.image as img %}
                                {% if img %}
                                    <img class='product-img' src="{{ img.url }}" alt="{{ req.name }}">
                                {% else %}
                                    No Image
                                {% endif %}
                            {% endwith %}
                            <span>{{ req.name }}</span>
                        </div>
                    </td>
                    <td><a href="{{ req.link }}" target="_blank">View Product</a></td>
                    <td>{{req.description}}</td>
                    <td>{{req.added_by}}</td>
                    <td>{{req.created_at}}</td>
                    <td>{{ req.status }}</td>
                    <td>{{ req.review }}</td>
                    <td>{{req.last_updated}}</td>
                    <td>{{req.updated_by}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10" style="text-align: center;">No Requests Found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tab-content" id="completed">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Details</th>
                    <th>Product URL</th>
                    <th>Description</th>
                    <th>Added By</th>
                    <th>created at</th>
                    <th>Status</th>
                    <th>Review</th>
                    <th>Last Updated</th>
                    <th>Updated By</th>
                </tr>
            </thead>
            <tbody>
                {% for req in completed_requests %}
                <tr>
                    <td>{{req.id}}</td>
                    <td>
                        <div class="product-details">
                            {% with req.image as img %}
                                {% if img %}
                                    <img class='product-img' src="{{ img.url }}" alt="{{ req.name }}">
                                {% else %}
                                    No Image
                                {% endif %}
                            {% endwith %}
                            <span>{{ req.name }}</span>
                        </div>
                    </td>
                    <td><a href="{{ req.link }}" target="_blank">View Product</a></td>
                    <td>{{req.description}}</td>
                    <td>{{req.added_by}}</td>
                    <td>{{req.created_at}}</td>
                    <td>{{ req.status }}</td>
                    <td>{{ req.review }}</td>
                    <td>{{req.last_updated}}</td>
                    <td>{{req.updated_by}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10" style="text-align: center;">No Requests Found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tab-content" id="rejected">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Details</th>
                    <th>Product URL</th>
                    <th>Description</th>
                    <th>Added By</th>
                    <th>created at</th>
                    <th>Status</th>
                    <th>Review</th>
                    <th>Last Updated</th>
                    <th>Updated By</th>
                </tr>
            </thead>
            <tbody>
                {% for req in all_requests %}
                <tr>
                    <td>{{req.id}}</td>
                    <td>
                        <div class="product-details">
                            {% with req.image as img %}
                                {% if img %}
                                    <img class='product-img' src="{{ img.url }}" alt="{{ req.name }}">
                                {% else %}
                                    No Image
                                {% endif %}
                            {% endwith %}
                            <span>{{ req.name }}</span>
                        </div>
                    </td>
                    <td><a href="{{ req.link }}" target="_blank">View Product</a></td>
                    <td>{{req.description}}</td>
                    <td>{{req.added_by}}</td>
                    <td>{{req.created_at}}</td>
                    <td>{{ req.status }}</td>
                    <td>{{ req.review }}</td>
                    <td>{{req.last_updated}}</td>
                    <td>{{req.updated_by}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10" style="text-align: center;">No Requests Found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="/static/js/admin_panel/script.js"></script>
{% endblock %}