.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: calc(100% - 250px);
    right: 0;
    height: 60px;
    z-index: 100;
}

.search-container {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.search-bar {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn {
    padding: 10px 15px;
    border: none;
    background-color: rgb(143, 214, 36);
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-btn:hover {
    background-color: rgb(120, 180, 30);
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-icons img {
    height: 25px;
    cursor: pointer;
    margin-right: 40px;
}
