.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: calc(100% - 250px);
    right: 0;
    height: 60px;
    z-index: 100;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.header-icons img {
    height: 25px;
    cursor: pointer;
    margin-right: 40px;
}
