table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td a {
    text-decoration: none;
    color: #007bff;
}

td a:hover{
    text-decoration: underline;
}

.product-img {
    width: 50px;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}
.product-details {
    display: flex;
    align-items: center;
}